
.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px;
    background-color: #9fd6d2;
    color:#251581;
    max-width: 300px;
    width: 300px;
    margin: 20px;
}


  