<app-nav-menu></app-nav-menu>
<div class="movie-card" style="display: flex">
  <mat-card *ngFor="let movie of movies; let i = index" style="flex: 1 1 auto">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
      <mat-icon class="favourite-icon" color="warn">favourite</mat-icon>
    </mat-card-header>
    <img
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
      width="270"
      height="350"
    />
    <mat-card-actions>
      <button
        class="genre-class"
        mat-button
        color="primary"
        (click)="openGenreCard(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>

      <button
        class="director-class"
        mat-button
        color="primary"
        (click)="
          openDirectorCard(
            movie.Director.Name,
            movie.Director.Bio
          )
        "
      >
        Director
      </button>
      <button
        class="movie-info-class"
        mat-button
        color="primary"
        (click)="openMovieView(movie.Title, movie.Description)"
      >
        Movie info
      </button>
    </mat-card-actions>
  </mat-card>
</div>