.user-profile {
    padding-top: 100px;
    background-color: rgb(65, 167, 180);
    height: 50%;
  }
  
  .usercard {
    border: 2px solid rgb(80, 8, 122);
    height: 250px;
    width: 350px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .user-fav {
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
  }

  